# 1: Programming And Data Science

# Instructions
Use the console to run the following lines of code:
print(1288)
print(639)
print(1288 + 639)
Add the same 3 lines of code to script.py in the text editor and then run the whole file:
print(1288)
print(639)
print(1288 + 639)
As a bonus, run the following line of code in the console (notice the ommitted print() statement) and see what happens:
1288 + 639
Hint
Each print() statement should be on a separate line.

In [2]:
print(1288)
print(639)
print(1288 + 639)

1288
639
1927

# 2: Arithmetic Operators

# Instructions
Add a line of code to script.py that:
Calculates the average of 749, 371, 828, 503, 1379 and displays the result using the print() function.
Remember that you can use the console to experiment with code.
Hint
To calculate the average, you need to add the values together and divide by the number of values. Don't forget to use parentheses!
For example, the following code calculates the average between 3 numbers: (1 + 2 + 3) / 3

In [7]:
avg = [749, 371, 828, 503, 1379]
mean = sum(avg)/len(avg)
print(mean)

766.0

In [9]:
print((749 + 371 + 828 + 503 + 1379)/5)

766.0

# 3: Variables

# Instructions
Assign the value 749 to the variable albuquerque.
Assign the value 371 to the variable anaheim.
Assign the value 828 to the variable anchorage.
Assign the value 503 to the variable arlington.
Assign the value 1379 to the variable atlanta.
Use the print() function to display the value associated with anaheim.
Hint
Each print() statement should be on a separate line.

In [11]:
albuquerque = 749
print(albuquerque)
anaheim = 371
print(anaheim)
anchorage = 828
print(anchorage)
arlington = 503
print(arlington)
atlanta = 1379
print(atlanta)

749
371
828
503
1379

# 4: Data Types

# Instructions
Assign the string value "Atlanta" to atlanta_string.
Assign the float value 1379.5 to atlanta_float.
Hint
Don't forget to use double quotes to surround Atlanta when you assign it to atlanta_string.

In [12]:
atlanta_string = "Atlanta"
print(atlanta_string)

In [14]:
atlanta_float = 1379.5
print(atlanta_float)

1379.5

# 5: The Type Function

Instructions
Assign the string value "Atlanta" to atlanta_string.
Display the type for the value associated with atlanta_string.
Hint
Make sure you have two trailing parentheses ())) when chaining two functions.

In [2]:
atlanta_string = "Atlanta"
print(type(atlanta_string))

<class 'str'>

# 6: Using A List To Store Multiple Values

# Instructions
Create two empty lists, cities and crime_rates.
Add the following strings to the list cities, in the following order:
"Albuquerque"
"Anaheim"
"Anchorage"
"Arlington"
"Atlanta"
Add the following float values to the list crime_rates, in the following order:
749
371
828
503
1379
Use the print() function to display both lists.
Hint
Create both of the empty lists first before adding values to it.

In [13]:
cities = ["Albuquerque", "Anaheim", "Anchorage", "Arlington", "Atlanta"]
crime_rates = [749, 371, 828, 503, 1379]
print(cities)
print(crime_rates)

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta']
[749, 371, 828, 503, 1379]

# 7: Creating Lists With Values

# Instructions
Create the list crime_rates again, but this time using the technique we just learned.
This list should contain the following values in the following order:
749
371
828
503
1379
Hint
The order of the values you want the list to have should match the order of values passed into bracket notation.

In [17]:
crime_rates = [749, 371, 828, 503, 1379]

# 8: Comments

# Instructions
Add a comment before and after the code we have right now to see if it affects the output.

In [18]:
crime_rates = [749, 371, 828, 503, 1379] # This is a list
print(crime_rates)

[749, 371, 828, 503, 1379]

# 9: Accessing Elements In A List

# Instructions
Select the third element from the list cities and assign to the variable anchorage_str.
Select the third element from the list crime_rates and assign to the new variable anchorage_cr.
Hint
Because lists are zero-indexed, the third value in a list is at index 2 (not at 3).

In [19]:
cities = ["Albuquerque", "Anaheim", "Anchorage", "Arlington", "Atlanta"]
crime_rates = [749, 371, 828, 503, 1379]

In [21]:
anchorage_str = cities[2]
print(anchorage_str)

Anchorage

In [23]:
anchorage_cr = crime_rates[2]
print(anchorage_cr)

828

# 10: Retrieving The Length Of A List

# Instructions
Add the lengths of the cities and crime_rates list objects and assign the sum to two_sum.
Hint
Because the len() function returns an integer value, you can add the results of two calls to this function to calculate the sum: len(list_one) + len(list_two)

In [27]:
two_sum = len(cities) + len(crime_rates)
print(two_sum)

10

# 11: Slicing Lists

# Instructions
Select the values in the second, third, and fourth indices from cities, and assign the resulting list to cities_slice.
Select the last two elements in crime_rates and assign to cr_slice.
Hint
Because of zero-indexing, the second element is located at index 1 and the fifth element is located at the index 4.
For the second task, recall that you can use the len() function to return the number of elements in a list as an integer. Subtract 2 from this integer and set as the starting slice, and the number of elements as the ending slice.

In [38]:
cities_slice = cities[2:5]
print(cities_slice)

['Anchorage', 'Arlington', 'Atlanta']

In [36]:
len_crime = len(crime_rates)
cr_slice = crime_rates[3:len_crime]
print(cr_slice)

[503, 1379]