# 1. Introduction To The Data
Instructions Read the dataset auto-mpg.data into a DataFrame named cars using the Pandas method read_table.
Specify that you want the whitespace between values to be used as the delimiter.
Use the column names provided in auto-mpg.names to set the column names for the cars Dataframe.
Display the cars DataFrame using a print statement or by checking the variable inspector below the code box.
Hint
The order of column names in the .names file matches the order in the dataset. Make sure the order in the list of strings you pass in to the names parameter reflects this.

In [13]:
import pandas as pd
columns = ["mpg", "cylinders", " displacement", "horsepower", "weight", "acceleration", "model year", "origin", "car name"]
cars = pd.read_table("auto-mpg.data.txt",delim_whitespace=True, names=columns)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18,8,307,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15,8,350,165.0,3693,11.5,70,1,buick skylark 320
2,18,8,318,150.0,3436,11.0,70,1,plymouth satellite
3,16,8,304,150.0,3433,12.0,70,1,amc rebel sst
4,17,8,302,140.0,3449,10.5,70,1,ford torino

In [9]:
names = pd.read_table("auto-mpg.names.txt")
names.head()

                             1. Title: Auto-Mpg Data
0                                        2. Sources:
1     (a) Origin:  This dataset was taken from th...
2                  maintained at Carnegie Mellon ...
3                  used in the 1983 American Stat...
4                             (c) Date: July 7, 1993

# 2. Exploratory Data Analysis
Instructions
Create a grid of subplots containing 2 rows and 1 column.
Use the DataFrame.plot() method to generate the following charts:
Top chart: Scatter plot with the weight column on the x-axis and the mpg column on the y-axis.
Bottom chart: Scatter plot with the acceleration column on the x-axis and the mpg column on the y-axis.
Hint
Recall that you'll need to use plt.figure() to instantiate a Figure object and then use add_subplot to add each subplot to the Figure instance. If you need a refresher on creating a grid of plots in Matplotlib, head to the Matplotlib internals course.

In [18]:
import matplotlib.pyplot as plt

fig = plt.figure()
ax1 = fig.add_subplot(2,1,1)
ax2 = fig.add_subplot(2,1,2)

cars.plot("weight", "mpg", kind='scatter', ax=ax1)
cars.plot("acceleration", "mpg", kind='scatter', ax=ax2)

plt.show()

# 3. Scikit-Learn
Instructions Import the LinearRegression class from sklearn.linear_model.
Instantiate a LinearRegression instance and assign to lr.
Use the fit method to fit a linear regression model using the weight column as the input and the mpg column as the output.
Hint
For the second parameter (the output), be sure to use single-bracket notation. Double-bracket notation is designed for fitting multiple outputs simultaneously, while here we're only interested in fitting one output, mpg.

In [23]:
import sklearn
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(cars[["weight"]], cars["mpg"])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

# 4. Making Predictions
Instructions Use the LinearRegression method predict to make predictions using the values from the weight column.
Assign the resulting list of predictions to predictions.
Display the first 5 elements in predictions and the first 5 elements in the mpg column to compare the predicted values with the actual values.
Hint
Recall that you need to use double bracket notation when selecting the predictor column so the dimensions match n_samples by n_features : cars[["weight"]].

In [24]:
import sklearn
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(cars[["weight"]], cars["mpg"])

predictions = lr.predict(cars[["weight"]])
print(predictions[0:5])
print(cars["mpg"][0:5])

[ 19.41852276  17.96764345  19.94053224  19.96356207  19.84073631]
0    18
1    15
2    18
3    16
4    17
Name: mpg, dtype: float64

# 5. Plotting The Model
Instructions On the same subplot:
Generate a scatter plot with weight on the x-axis and the mpg column on the y-axis. Specify that you want the dots in the scatter plot to be red.
Generate a scatter plot with weight on the x-axis and the predicted values on the y-axis. Specify that you want the dots in the scatter plot to be blue.
Hint
matplotlib.pyplot is already imported into the environment, as plt.

In [25]:
plt.scatter(cars["weight"], cars["mpg"], color='red')
plt.scatter(cars["weight"], predictions, color='blue')
plt.show()

# 6. Error Metrics
Instructions Import the mean_squared_error function.
Use the mean_squared_error function to calculate the MSE of the predicted values and assign to mse.
Display the MSE value using a print statement or the variables display below the code cell after you run your code.
Hint
As indicated in the documentation, you need to import the function from sklearn.metrics not sklearn.

In [28]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(cars["mpg"], predictions)
print(mse)

18.7809397346

# 7. Root Mean Squared Error
Instructions
Calculate the RMSE of the predicted values and assign to rmse.
Display the RMSE value using a print statement or the variables display below the code cell after you run your code.
Hint
Compute the square root of the MSE value we already calculated.

In [31]:
rmse = (mse) ** (1/2)
print(rmse)

4.33369815915