# 1: Examining The Data With .Describe()

# Instructions
Describe the data set using print(titanic.describe()).
Click Check to run your code.
Then, click Next Step to proceed.
Hint
Type print(titanic.describe()) in the code area and click Check.

In [1]:
import pandas as pd
titanic = pd.read_csv('titanic_train.csv')
print(titanic.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  Age  SibSp  \
0                            Braund, Mr. Owen Harris    male   22      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
2                             Heikkinen, Miss. Laina  female   26      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
4                           Allen, Mr. William Henry    male   35      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
print(titanic.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

# 2: Cleaning Up Missing Data

# Instructions
Replace all of the missing values in the Age column of titanic.
Hint
Use the code titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median()).

In [3]:
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
print(titanic["Age"])

0      22
1      38
2      26
3      35
4      35
5      28
6      54
7       2
8      27
9      14
10      4
11     58
12     20
13     39
14     14
15     55
16      2
17     28
18     31
19     28
20     35
21     34
22     15
23     28
24      8
25     38
26     28
27     19
28     28
29     28
       ..
861    21
862    48
863    28
864    24
865    42
866    27
867    31
868    28
869     4
870    26
871    47
872    33
873    47
874    28
875    15
876    20
877    19
878    28
879    56
880    25
881    33
882    22
883    28
884    25
885    39
886    27
887    19
888    28
889    26
890    32
Name: Age, dtype: float64

# 3: Converting The Sex Column To Numeric

# Instructions
Replace all of the female values in the Sex column with 1.
Hint
Use the same code we used to replace the male values, but switch the gender and the code.

In [4]:
print(titanic["Sex"].unique())

['male' 'female']

In [5]:
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0

In [6]:
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1

# 4: Converting The Embarked Column

# Instructions
The first step is to replace the missing values in the column.
The most common embarkation port is S, so let's assume everyone who's missing an embarkation port got on there.
Replace all of the missing values in the Embarked column with S.
We'll assign the code 0 to S, 1 to C, and 2 to Q.
Replace each value in the Embarked column with its corresponding code.
Hint
You can use the .fillna method to replace missing values. Use the code from the last screen to replace string values with numeric codes.

In [7]:
print(titanic["Embarked"].unique())

['S' 'C' 'Q' nan]

In [8]:
titanic["Embarked"] = titanic["Embarked"].fillna("S")
titanic.loc[titanic["Embarked"] == "S", "Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2

# 5: Making Predictions With Scikit-Learn

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

alg = LinearRegression()

kf = KFold(titanic.shape[0], n_folds=3, random_state=1)

predictions = []

for train, test in kf:
    train_predictors = (titanic[predictors].iloc[train,:])
    train_target = titanic["Survived"].iloc[train]
    alg.fit(train_predictors, train_target)
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predictions)

# 6: Evaluating Prediction Error

# Instructions
Figure out what proportion of the values in predictions match the values in titanic["Survived"] exactly.
The result of this calculation will be a float (decimal). Assign it to the variable accuracy.
Hint
Find the number of values in predictions that match the values in the same position in titanic["Survived"] exactly. Then, divide by the total number of predictions.

In [10]:
import numpy as np

predictions = np.concatenate(predictions, axis=0)

predictions[predictions >  .5] = 1
predictions[predictions <= .5] = 0


accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)

//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:9: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index

In [11]:
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression

alg = LogisticRegression(random_state=1)

scores = cross_validation.cross_val_score(alg,titanic[predictors], titanic["Survived"], cv=3)
print(scores.mean())

0.787878787879

# 7: Logistic Regression

In [12]:
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression

alg = LogisticRegression(random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=3)

print(scores.mean())

0.787878787879

# 8: Processing The Test Set To Replace Values

# Instructions
Process titanic_test the same way we processed titanic:
- Replace the missing values in the Age column with the median age from the train set. The age has to be the exact same value we used to replace the missing ages in the training set (it can't be the median of the test set, because this is different). You should use titanic["Age"].median() to find the median.
Replace any male values in the Sex column with 0, and any female values with 1.
Replace any missing values in the Embarked column with S.
In the Embarked column, replace S with 0, C with 1, and Q with 2.
We'll also need to replace a missing value in the Fare column.
Use .fillna with the median of the column in the test set to replace the missing value.
There are no missing values in the Fare column of the training set, but test sets can sometimes be different.
Hint
You can look back at previous screens to see how we replaced missing values before.

In [13]:
titanic_test = pd.read_csv("titanic_test.csv")

titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].median())

titanic_test.loc[titanic_test["Sex"] == "male", "Sex" ] = 0
titanic_test.loc[titanic_test["Sex"] == "female","Sex"] = 1

titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")

titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())

In [14]:
alg = LogisticRegression(random_state=1)
alg.fit(titanic[predictors], titanic["Survived"])

predictions = alg.predict(titanic_test[predictors])

submission = pd.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": predictions
    })

# 9: Implementing A Random Forest

# Instructions
Make cross-validated predictions for the titanic dataframe (which we've already loaded in) using 3 folds.
Use the random forest algorithm stored in alg to do the cross-validation.
Use predictors to predict the Survived column. Assign the result to scores.
You can use the cross_validation.cross_val_score function to do this.
You'll need to initialize an instance of KFold like we did in the last mission, and pass it into the cv keyword argument of the cross_val_score function.
After making cross-validated predictions, print out the mean of scores.
Hint
Make predictions with:
kf = cross_validation.KFold(titanic.shape[0], n_folds=3, random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)

In [15]:
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

alg = RandomForestClassifier(random_state=1, n_estimators=10, min_samples_split=2, min_samples_leaf=1)

kf = cross_validation.KFold(titanic.shape[0], n_folds=3, random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)
print(scores.mean())

0.785634118967

# 10: Tuning Parameters To Improve Accuracy

# Instructions
We've changed the parameters that alg uses. We'll need to run our model again now:
Make cross-validated predictions for the titanic dataframe using 3 folds.
Use predictors to predict the Survived column, and assign the result to scores.
After making cross-validated predictions, print out the mean of scores.
Hint
The parameters we have for alg are different.

In [16]:
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

alg = RandomForestClassifier(random_state=1, n_estimators=50, min_samples_split=4, min_samples_leaf=2)

kf = cross_validation.KFold(titanic.shape[0], n_folds=3, random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)
print(scores.mean())

0.81593714927

# 11: Generating New Features With .Apply

In [17]:
titanic["FamilySize"] = titanic["SibSp"] + titanic["Parch"]
titanic["NameLength"] = titanic["Name"].apply(lambda x : len(x))

# 12: Extracting The Passengers' Titles With A Regular Expression

In [18]:
import re

def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    if title_search:
        return title_search.group(1)
    return ""

titles = titanic["Name"].apply(get_title)
print(pd.value_counts(titles))

title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 
                 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Don": 9,
                 "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7,
                 "Ms": 2}

for k,v in title_mapping.items():
    titles[titles ==k] = v
    
print(pd.value_counts(titles))

titanic["Title"] = titles

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Don           1
Jonkheer      1
Mme           1
Lady          1
Sir           1
Name: Name, dtype: int64
1      517
2      183
3      125
4       40
5        7
6        6
7        5
10       3
9        2
8        2
Mme      1
Name: Name, dtype: int64

# 13: Generating A Feature For Family Groups

In [20]:
import operator

family_id_mapping = {}

def get_family_id(row):
    last_name = row["Name"].split(",")[0]
    family_id = "{0}{1}".format(last_name, row["FamilySize"])
    if family_id not in family_id_mapping:
        if len(family_id_mapping) == 0:
            current_id = 1
        else:
            current_id = (max(family_id_mapping.items(), key=operator.itemgetter(1))[1] + 1)
            family_id_mapping[family_id] = current_id
        return family_id_mapping[family_id]
    
family_ids = titanic.apply(get_family_id, axis=1)
family_ids[titanic["FamilySize"] < 3] = -1
print(pd.value_counts(family_ids))

titanic["FamilyId"] = family_ids

KeyError: ('Braund1', 'occurred at index 0')

# 14: Identifying The Best Features To Use

# Instructions
We've updated predictors. Make cross-validated predictions for the titanic dataframe using 3 folds.
Use predictors to predict the Survived column, and assign the result to scores.
After making cross-validated predictions, print out the mean of scores.
Hint
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=3) will make predictions.

In [21]:
import numpy as np 
from sklearn.feature_selection import SelectKBest, f_classif

predictors = ["Pclass", "Sex", "SibSp", "Parch", "Fare", "Embarked", "FamilySize", "Title", "FamilyId", "NameLength"]

selector = SelectKBest(f_classif, k=5)
selector.fit(titanic[predictors], titanic["Survived"])

scores = -np.log10(selector.pvalues_)

plt.bar(range(len(predictors)), scores)
plt.xticks(range(len(predictors)), predictors, rototion='vertical')
plt.show()

predictors = ["Pclass", "Sex", "Fare", "Title"]

alg = RandomForestClassifier(random_state=1, n_estimators=50, min_samples_split=8, min_samples_leaf=4)

scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=3)

print(scores.mean())

KeyError: "['FamilyId'] not in index"

# 15: Making Predictions With Multiple Classifiers

In [28]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.cross_validation import KFold
import numpy as np

algorithms = [[GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title", "FamilyId"]], [[LogisticRegression(random_state=1), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]]
    
kf = KFold(titanic.shape[0], n_folds=3, random_state=1)
    
predictions = []
for train, test in kf:
    train_target = titanic["Survived"].iloc[train]
    full_test_predictions = []
    for alg, predictions in algorithms:
    alg.fit(titanic[predictions].iloc[train,:], train_target)
    test_predictions = alg.predict_proba(titanic[predictors].iloc[test,:].astype(float))[:,1]
    full_test_predictions.append(test_predictions)
    test_predictions = (full_test_predictions[0] + full_test_predictions[1]) / 2
    
    test_predictions[test_predictions <= .5] = 0
    test_predictions[test_predictions > .5] = 1
    predictions.append(test_predictions)
    
predictions = np.concatenate(predictions, axis=0)

accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)
    
print(accuracy)

SyntaxError: invalid syntax (<ipython-input-28-f8f8f5562cc5>, line 7)

# 16: Matching Our Changes On The Test Set

# Instructions
Add the NameLength column to titanic_test.
Do this the same way we did it with the titanic dataframe.
Hint
You should be able to use our code from an earlier screen, with minor modifications.

In [29]:
titanic_test = pd.read_csv('titanic_test.csv')

titles = titanic_test["Name"].apply(get_title)

title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr":
                5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Don": 9,
                "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7,
                "Ms": 2, "Dona": 10}

for k, v in title_mapping.items():
    titles[titles == k] = v
    
titanic_test["Title"] = titles

print(pd.value_counts(titanic_test["Title"]))

titanic_test["FamilySize"] = titanic_test["SibSp"] + titanic_test["Parch"]

print(family_id_mapping)

family_ids = titanic_test.apply(get_family_id, axis=1)
family_ids[titanic_test["FamilySize"] < 3] = -1
titanic_test["FamilyId"] = family_ids

titanic_test["NameLength"] = titanic_test["Name"].apply(lambda x : len(x))

1     240
2      79
3      72
4      21
7       2
6       2
10      1
5       1
Name: Title, dtype: int64
{}

KeyError: ('Kelly0', 'occurred at index 0')

# 17: Predicting On The Test Set

# Instructions
Convert the predictions to either 0 or 1. Convert the predictions less than or equal to .5 to 0, and those greater than .5 to 1.
Then, convert the predictions to integers using the .astype(int) method. If you don't, Kaggle will give you a score of 0.
Finally, create a submission dataframe where the first column is PassengerId, and the second column is Survived (this will be the predictions).
Hint
Generate the submission dataframe with:
submission = pandas.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": predictions
    })

In [33]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression

predictors = ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title", "FamilyId"]

algorithms = [[GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), predictors], [LogisticRegression(random_state=1), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]

full_predictions = []
              
for alg, predictors in algorithms:
    alg.fit(titanic[predictors], titanic["Survived"])
    predictions = alg.predict_proba(titanic_test[predictors].astype(float))[:,1]
    full_predictions.append(predictions)
    
predictions = (full_predictions[0] * 3 + full_predictions[1]) / 4

predictions[predictions <= .5] = 0
predictions[predictions > .5] = 1

predictions = predictions.astype(int)
    
submission = pd.DataFrame({
            "PassengerId": titanic_test["PassengerId"],
            "Survived": predictions
        })

SyntaxError: invalid syntax (<ipython-input-33-7fe6ac19a0f6>, line 8)