# 1: Opening Files

# Instructions
Use the open() function to create a File object.
The name of the file to open is "crime_rates.csv". Access the file in read mode ("r").
Assign this File object to the variable f.
Hint
Use the open() function with the following parameters: "crime_rates.csv" and "r".

In [2]:
f = open("crime_rates.csv", "r", encoding='utf-8')
print(f)

<_io.TextIOWrapper name='crime_rates.csv' mode='r' encoding='utf-8'>

# 2: Reading In Files

# Instructions
Run the read() method on the File object f to return the string representation of crime_rates.csv.
Assign the resulting string to a new variable named data.
Hint
Use f.read() to read the file object.

In [3]:
f = open("crime_rates.csv", "r", encoding='utf-8')
g = f.read()
print(g)

Albuquerque,749
Anaheim,371
Anchorage,828
Arlington,503
Atlanta,1379
Aurora,425
Austin,408
Bakersfield,542
Baltimore,1405
Boston,835
Buffalo,1288
Charlotte-Mecklenburg,647
Cincinnati,974
Cleveland,1383
Colorado Springs,455
Corpus Christi,658
Dallas,675
Denver,615
Detroit,2122
El Paso,423
Fort Wayne,362
Fort Worth,587
Fresno,543
Greensboro,563
Henderson,168
Houston,992
Indianapolis,1185
Jacksonville,617
Jersey City,734
Kansas City,1263
Las Vegas,784
Lexington,352
Lincoln,397
Long Beach,575
Los Angeles,481
Louisville Metro,598
Memphis,1750
Mesa,399
Miami,1172
Milwaukee,1294
Minneapolis,992
Mobile,522
Nashville,1216
New Orleans,815
New York,639
Newark,1154
Oakland,1993
Oklahoma City,919
Omaha,594
Philadelphia,1160
Phoenix,636
Pittsburgh,752
Plano,130
Portland,517
Raleigh,423
Riverside,443
Sacramento,738
San Antonio,503
San Diego,413
San Francisco,704
San Jose,363
Santa Ana,401
Seattle,597
St. Louis,1776
St. Paul,722
Stockton,1548
Tampa,616
Toledo,1171
Tucson,724
Tulsa,990
Virginia Beach,169
Washington,1177
Wichita,742

# 3: Splitting

# Instructions
Split the string object data on the new-line character "\n", and store the result in a variable named rows. - Then, use the print() function to display the first five elements in rows.
Hint
Call the split() method on the data object and pass "\n" into the method.
To display the first five elements, use the print() function and list slicing.

In [4]:
sample = "john,plastic,joe"
split_list = sample.split(",")
print(split_list)

['john', 'plastic', 'joe']

In [5]:
string_two = "How much wood\ncan a woodchuck chuck\nif a woodchuck\ncould chuck wood?"
split_string_two = string_two.split('\n')
print(split_string_two)

['How much wood', 'can a woodchuck chuck', 'if a woodchuck', 'could chuck wood?']

In [12]:
f = open('crime_rates.csv', 'r', encoding='utf-8')
data = f.read()
rows = data.split("\n")
print(rows[0:5])

['Albuquerque,749', 'Anaheim,371', 'Anchorage,828', 'Arlington,503', 'Atlanta,1379']

# 4: Practice - Loops

# Instructions
The variable ten_rows contains the first 10 elements in rows.
Write a for loop that:
iterates over each element in ten_rows
uses the print() function to display each element
Hint
Use this for loop syntax - for row in ten_rows:
Include this in the loop body - print(row)

In [14]:
ten_rows = rows[0:10]

for row in ten_rows:
    print(row)

Albuquerque,749
Anaheim,371
Anchorage,828
Arlington,503
Atlanta,1379
Aurora,425
Austin,408
Bakersfield,542
Baltimore,1405
Boston,835

# 5: List Of Lists

In [22]:
three_rows = ["Albuquerque,749", "Anaheim,371", "Anchorage,828"]
final_list = []

for row in three_rows:
    split_list = row.split(",")
    final_list.append(split_list)
    
print(final_list)
print(final_list[0])
print(final_list[1])
print(final_list[2])

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828']]
['Albuquerque', '749']
['Anaheim', '371']
['Anchorage', '828']

# 6: Practice - Splitting Elements In A List

# Instructions
Write a for loop that splits each element in rows on the comma delimiter, and appends the resulting list to a new list named final_data.
Then, use the print() function and list slicing to display the first five elements in final_data.
Hint
Create an empty list before the loop and assign to a new variable final_data.
The code to retrieve the first five elements in final_data is final_data[0:5].

In [24]:
f = open('crime_rates.csv', 'r', encoding='utf-8')
data = f.read()
rows = data.split('\n')
print(rows[0:5])
final_data = []

for row in rows:
    split_list = row.split(",")
    final_data.append(split_list)
print(final_data[0:5])

['Albuquerque,749', 'Anaheim,371', 'Anchorage,828', 'Arlington,503', 'Atlanta,1379']
[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828'], ['Arlington', '503'], ['Atlanta', '1379']]

# 7: Accessing Elements In A List Of Lists: The Manual Way

# Instructions
five_elements contains the first five elements from final_data.
Create a list of strings named cities_list that contains the city names from each list in five_elements.
Hint
Assign an empty list to a new variable cities_list. Then use the append() method five times to add the city name from each element in five_elements to cities_list. Remember that you need to call the append() method on the list you want to add to (cities_list).

In [28]:
five_elements = final_data[0:5]
five_elements

[['Albuquerque', '749'],
 ['Anaheim', '371'],
 ['Anchorage', '828'],
 ['Arlington', '503'],
 ['Atlanta', '1379']]

In [43]:
cities_list = []

cities_list.append(five_elements[0][0])
cities_list.append(five_elements[1][0])
cities_list.append(five_elements[2][0])
cities_list.append(five_elements[3][0])
cities_list.append(five_elements[4][0])

cities_list

['Albuquerque', 'Anaheim', 'Anchorage', 'Arlington', 'Atlanta']

# 8: Looping Through A List Of Lists

# Instructions
Create a list of strings named cities_list that contains just the city names from final_data.
Recall that the city name is located at index 0 for each list in final_data.
Hint
Retrieve the element at index 0, then use the append() method on cities_list to add each element in final_data.

In [44]:
crime_rates = []

for row in five_elements:
    crime_rate = row[1]
    crime_rates.append(crime_rate)

In [ ]:
cities_list = []

for row in final_data:
    city_list = row[0]
    cities_list.append(city_list)

# 11: Challenge

# Instructions
Create a list of integers named int_crime_rates that contains just the crime rates - as integers - from the list rows.
First create an empty list and assign it to a new variable int_crime_rates.
Then, write a for loop that iterates over rows and does the following:
uses the split() method to convert each string in rows into a list, based on the comma delimiter
converts the value at index 1 from that list to an integer using the int() function
uses the append() method to add each integer to int_crime_rates
Hint
int() is a function that takes a single input (such as a string) and returns an integer.

In [46]:
f = open('crime_rates.csv', 'r')
data = f.read()
rows = data.split('\n')
print(rows[0:5])

['Albuquerque,749', 'Anaheim,371', 'Anchorage,828', 'Arlington,503', 'Atlanta,1379']

In [49]:
int_crime_rates = []

for row in rows:
    split_rows = row.split(",")
    converted_row = int(split_rows[1])
    int_crime_rates.append(converted_row)
    
print(int_crime_rates[0:10])

[749, 371, 828, 503, 1379, 425, 408, 542, 1405, 835]