# 1: Recap

# Instructions
Use the DataFrame.info() method to return the number of non-null values in each column.
Hint
Use the head method to return the first n rows and the print function to display them.

In [ ]:
import numpy as np
import pandas as pd
np.random.seed(1)

dc_listings = pd.read_csv('dc_airbnb.csv')
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_dollars = dc_listings['price'].str.replace('$', '')
dc_listings['price'] = stripped_dollars.astype('float')

In [3]:
dc_listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3723 entries, 574 to 1061
Data columns (total 19 columns):
host_response_rate      3289 non-null object
host_acceptance_rate    3109 non-null object
host_listings_count     3723 non-null int64
accommodates            3723 non-null int64
room_type               3723 non-null object
bedrooms                3702 non-null float64
bathrooms               3696 non-null float64
beds                    3712 non-null float64
price                   3723 non-null object
cleaning_fee            2335 non-null object
security_deposit        1426 non-null object
minimum_nights          3723 non-null int64
maximum_nights          3723 non-null int64
number_of_reviews       3723 non-null int64
latitude                3723 non-null float64
longitude               3723 non-null float64
city                    3723 non-null object
zipcode                 3714 non-null object
state                   3723 non-null object
dtypes: float64(5), int64(5), object(9)
memory usage: 581.7+ KB

In [5]:
print(dc_listings.head())

     host_response_rate host_acceptance_rate  host_listings_count  \
574                100%                 100%                    1
1593                87%                 100%                    2
3091               100%                  NaN                    1
420                 58%                  51%                  480
808                100%                  95%                    3

      accommodates        room_type  bedrooms  bathrooms  beds    price  \
574              2     Private room       1.0        1.0   1.0  $125.00
1593             2     Private room       1.0        1.5   1.0   $85.00
3091             1     Private room       1.0        0.5   1.0   $50.00
420              2  Entire home/apt       1.0        1.0   1.0  $209.00
808             12  Entire home/apt       5.0        2.0   5.0  $215.00

     cleaning_fee security_deposit  minimum_nights  maximum_nights  \
574           NaN          $300.00               1               4
1593       $15.00              NaN               1              30
3091          NaN              NaN               1            1125
420       $150.00              NaN               4             730
808       $135.00          $100.00               2            1825

      number_of_reviews   latitude  longitude        city zipcode state
574                 149  38.913548 -77.031981  Washington   20009    DC
1593                 49  38.953431 -77.030695  Washington   20011    DC
3091                  1  38.933491 -77.029679  Washington   20010    DC
420                   2  38.904054 -77.051991  Washington   20037    DC
808                  34  38.906118 -76.988873  Washington   20002    DC

# 2: Removing Features

# Instructions
Remove the 9 columns we discussed above from dc_listings:
3 containing non-numerical values
3 containing numerical but non-ordinal values
3 describing the host instead of the living space itself
Hint
Use the Dataframe method drop() to specify a list of columns, the labels parameter, to drop. Set the axis parameter to 1 to specify that you want Pandas to drop across columns not rows.

In [9]:
items_to_drop = ['room_type', 'city', 'state', 'latitude', 'longitude', 'zipcode', 'host_response_rate', 'host_acceptance_rate', 'host_listings_count']

In [10]:
dc_listings = dc_listings.drop(items_to_drop, axis=1)

In [13]:
print(dc_listings.isnull().sum())

accommodates            0
bedrooms               21
bathrooms              27
beds                   11
price                   0
cleaning_fee         1388
security_deposit     2297
minimum_nights          0
maximum_nights          0
number_of_reviews       0
dtype: int64

# 3: Handling Missing Values

In [14]:
dc_listings = dc_listings.drop(['cleaning_fee', 'security_deposit'], axis=1)

In [15]:
dc_listings = dc_listings.dropna(axis=0)

In [16]:
print(dc_listings.isnull().sum())

accommodates         0
bedrooms             0
bathrooms            0
beds                 0
price                0
minimum_nights       0
maximum_nights       0
number_of_reviews    0
dtype: int64

In [22]:
dc_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,2,1.0,1.0,1.0,$125.00,1,4,149
1593,2,1.0,1.5,1.0,$85.00,1,30,49
3091,1,1.0,0.5,1.0,$50.00,1,1125,1
420,2,1.0,1.0,1.0,$209.00,4,730,2
808,12,5.0,2.0,5.0,$215.00,2,1825,34

# 4: Normalize Columns

# Instructions
Normalize all of the feature columns in dc_listings and assign the new Dataframe containing just the normalized feature columns to normalized_listings.
Add the price column from dc_listings to normalized_listings.
Display the first 3 rows in normalized_listings.
Hint
Documentation on mean().
Documentation on std().

In [32]:
dc_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,2,1.0,1.0,1.0,125.00,1,4,149
1593,2,1.0,1.5,1.0,85.00,1,30,49
3091,1,1.0,0.5,1.0,50.00,1,1125,1
420,2,1.0,1.0,1.0,209.00,4,730,2
808,12,5.0,2.0,5.0,215.00,2,1825,34

In [ ]:
normalized_listings = (dc_listings - dc_listings.mean())/(dc_listings.std())
normalized_listings['price'] = dc_listings['price']
print(dc_listings.head())

# 5: Euclidean Distance For Multivariate Case

# Instructions
Calculate the Euclidean distance using only the accommodates and bathrooms features between the first row and fifth row in normalized_listings using the distance.euclidean() function.
Assign the distance value to first_fifth_distance and display using the print function.
Hint
normalized_listings.iloc[0][['accommodates', 'bathrooms']] selects the first row and the 2 columns we're interested in. The resulting object is a Series object, which is an appropriate format to pass into the euclidean() function.

In [ ]:
from scipy.spatial import distance

first_distance = normalized_listings.iloc[0][['accommodates', 'bathrooms']]
fifth_distance = normalized_listings.iloc[4][['accommodates', 'bathrooms']]

first_fifth_distance = distance.euclidean(first_distance, fifth_distance)
print(first_fifth_distance)

# 6: Fitting A Model And Making Predictions

# Instructions
Create an instance of the KNeighborsRegressor class with the following parameters:
n_neighbors: 5
algorithm: brute
Use the fit method to specify the data we want the k-nearest neighbor model to use. Use the following parameters:
training data, feature columns: just the accommodates and bathrooms columns, in that order, from train_df.
training data, target column: the price column from train_df.
Call the predict method to make predictions on:
the accommodates and bathrooms columns from test_df
assign the resulting NumPy array of predicted price values to predictions.
Hint
We're only answer checking the predictions variable, so feel free to name the other variables however you choose!

In [41]:
from sklearn.neighbors import KNeighborsRegressor

train_df = normalized_listings.iloc[0:2792]
test_df = normalized_listings.iloc[2792:]

train_columns = ['accommodates', 'bathrooms']

knn = KNeighborsRegressor(n_neighbors=5,algorithm='brute')

knn.fit(train_df[train_columns], train_df['price'])

predictions = knn.predict(test_df[train_columns])

# 7: Calculating MSE Using Scikit-Learn

# Instructions
Use the mean_squared_error function to calculate the MSE value for the predictions we made in the previous screen.
Assign the MSE value to two_features_mse.
Calculate the RMSE value by taking the square root of the MSE value and assign to two_features_rmse.
Display both of these error scores using the print function.
Hint
The predicted values are represented by the NumPy array, predictions, while the true values are represented by the price column from test_df.

In [1]:
from sklearn.metrics import mean_squared_error

train_columns = ['accommodates', 'bathrooms']
knn = KNeighborsRegressor(n_neighbors=5, algorithm='brute', metric='euclidean')
knn.fit(train_df[train_columns], train_df['price'])
predictions = knn.predict(test_df[train_columns])

two_features_mse = mean_squared_error(test_df['price'], predictions)

two_features_rmse = two_features_mse**(1/2)

print(two_features_mse)
print(two_features_rmse)

# 8: Using More Features

# Instructions
Create a new instance of the KNeighborsRegressor class with the following parameters:
n_neighbors: 5
algorithm: brute
Fit a model that uses the following columns from our training set (train_df):
accommodates
bedrooms
bathrooms
number_of_reviews
Use the model to make predictions on the test set (test_df) using the same columns. Assign the NumPy array of predictions to four_predictions.
Use the mean_squared_error() function to calculate the MSE value for these predictions by comparing four_predictions with the price column from test_df. Assign the computed MSE value to four_mse.
Calculate the RMSE value and assign to four_rmse.
Display four_mse and four_rmse using the print function.
Hint
Replace the feature columns you select from both train_df and test_df with the 4 we specified.

In [2]:
features = ['accommodates', 'bedrooms', 'bathrooms', 'number_of_reviews']
from sklearn.neighbors import KNeighborsRegressor
knn  = KNeighborsRegressor(n_neighbors=5, algorithm='brute')

knn.fit(train_df[features], train_df['price'])
four_predictions = knn.predict(test_df[features])

four_mse = mean_squared_error(test_df['price'], four_predictions)
four_rmse = four_mse**(1/2)

print(four_mse)
print(four_rmse)

# 9: Using All Features

# Instructions
Use all of the columns, except for the price column, to train a k-nearest neighbors model using the same parameters for the KNeighborsRegressor class as the ones from the last few screens.
Use the model to make predictions on the test set and assign the resulting NumPy array of predictions to all_features_predictions.
Calculate the MSE and RMSE values and assign to all_features_mse and all_features_rmse accordingly.
Use the print function to display both error scores.
Hint
To select all of the columns except price, first return the column list (df.columns.tolist()) as a Python list. Then, use the list method remove() to remove the price column from the column list.

In [ ]:
knn = KNeighborsRegressor(n_neighbors=5, algorithm='brute')

features = features.tolist()
features.remove('price')

knn.fit(train_df[features], train_df['price'])
all_features_predictions = knn.predict(test_df[features])

all_features_mse = mean_squared_error(test_df['price'], all_features_predictions)
all_features_rmse = all_features_mse**(1/2)

print(all_features_mse)
print(all_features_rmse)