In [40]:
import pandas as pd
import numpy as np

income = pd.read_csv('income.csv')
income.head()

  39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
0  50, Self-emp-not-inc, 83311, Bachelors, 13, Ma...
1  38, Private, 215646, HS-grad, 9, Divorced, Han...
2  53, Private, 234721, 11th, 7, Married-civ-spou...
3  28, Private, 338409, Bachelors, 13, Married-ci...
4  37, Private, 284582, Masters, 14, Married-civ-...

# 1. Calculating Expected Values
Instructions Using the expected proportions in the table above, calculate the expected values for each of the 4 cells in the table.
Calculate the expected value for Males who earn >50k, and assign to males_over50k.
Calculate the expected value for Males who earn <=50k, and assign to males_under50k.
Calculate the expected value for Females who earn >50k, and assign to females_over50k.
Calculate the expected value for Females who earn <=50k, and assign to females_under50k.
Hint
Remember to multiply the expected proportions by 32561 to get the expected values.

In [41]:
males_over50k = 32561 * (.241 * .699)
males_under50k = 32561 * (.759 * .699)
females_over50k = 32561 * (.241 * .311)
female_under50k = 32561 * (.759 * .311)
print(males_over50k)
print(males_under50k)
print(females_over50k)
print(female_under50k)

5485.193498999999
17274.945501
2440.479511
7685.991489

# 2. Calculating Chi-Squared
Instructions Compute the chi-squared value for the observed values above and the expected values above.
Assign the result to chisq_gender_income.
Hint
Remember to append each difference to a list, and then add up the list at the end.

In [42]:
observed = [6662, 1179, 15128, 9592]
expected = [5249.8, 2597.4, 16533.5, 8180.3]
values = []

for i, obs in enumerate(observed):
    exp = expected[i]
    value = (obs - exp) ** 2 / exp
    values.append(value)

chisq_gender_income = sum(values)
print(chisq_gender_income)

1517.5510981525103

In [43]:
import numpy as np
from scipy.stats import chisquare

observed_over50k = np.array([6662, 1179, 15128, 9592])
expected_over50k = np.array([5249.8, 2597.4, 16533.5, 8180.3])

chisquare_value, pvalue_gender_income = chisquare(observed_over50k, expected_over50k)
print(chisquare_value)
print(pvalue_gender_income)

1517.55109815
0.0

# 3. Cross Tables
Instructions Use the pandas.crosstab function to print out a table comparing the sex column of income to the race column of income.
Hint
Remember that the second parameter you pass into the pandas.crosstab function is a list.

In [ ]:
table = pd.crosstab(income["sex"], [income["race"]])
print(table)

# 4. Finding Expected Values
Instructions Use the scipy.stats.chi2_contingency function to calculate the pvalue for the sex and race columns of income.
Assign the result to pvalue_gender_race.
Hint
You can either reference the table variable from the last screen, or use pandas.crosstab to construct another observed values table.

In [ ]:
import pandas as pd
from scipy.stats import chi2_contingency
observed = pd.crosstab(income["sex"], [income["race"]])
chisq_value, pvalue_gender_race, df, expected = chi2_contingency(observed)