In [10]:
import pandas as pd
df = pd.read_csv("academy_awards.csv", encoding="ISO-8859-1")

In [11]:
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df["Unnamed: 5"].value_counts()

*                                                                                                               7
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 discoverer of stars                                                                                            1
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
Name: Unnamed: 5, dtype: int64

In [13]:
df["Unnamed: 6"].value_counts()

*                                                                   9
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 flexibility and water resistance                                   1
 sympathetic                                                        1
Name: Unnamed: 6, dtype: int64

In [14]:
df["Unnamed: 7"].value_counts()

 kindly                                               1
*                                                     1
 while requiring no dangerous solvents. [Systems]"    1
Name: Unnamed: 7, dtype: int64

In [15]:
df["Unnamed: 8"].value_counts()

*                                                 1
 understanding comedy genius - Mack Sennett.""    1
Name: Unnamed: 8, dtype: int64

In [16]:
df["Unnamed: 9"].value_counts()

*    1
Name: Unnamed: 9, dtype: int64

In [17]:
df["Unnamed: 10"].value_counts()

*    1
Name: Unnamed: 10, dtype: int64

In [18]:
df["Year"] = df["Year"].str[0:4]

In [19]:
df["Year"].head()

0    2010
1    2010
2    2010
3    2010
4    2010
Name: Year, dtype: object

In [20]:
df["Year"] = df["Year"].astype("int")

In [21]:
df["Year"].head(3)

0    2010
1    2010
2    2010
Name: Year, dtype: int64

In [22]:
later_than_2000 = df[df["Year"] > 2000]
later_than_2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
award_categories = ["Actor -- Leading Role", "Actor -- Supporting Role", "Actress -- Leading Role", "Actress -- Supporting Role"]

In [24]:
award_categories

['Actor -- Leading Role',
 'Actor -- Supporting Role',
 'Actress -- Leading Role',
 'Actress -- Supporting Role']

In [25]:
nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

In [26]:
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
replacements = {"NO": 0, "YES": 1}

In [28]:
nominations["Won?"] = nominations["Won?"].map(replacements)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [29]:
nominations["Won?"] = nominations["Won?"]

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [30]:
drop_cols = ["Won?", "Unnamed: 5", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9","Unnamed: 10"]

In [31]:
final_nominations = nominations.drop(drop_cols, axis = 1)

In [32]:
additional_info_one = final_nominations["Additional Info"].str.rstrip("'}")

In [33]:
additional_info_two = additional_info_one.str.split("{'")

In [34]:
additional_info_two

0                                      [Biutiful , Uxbal]
1                           [True Grit , Rooster Cogburn]
2                  [The Social Network , Mark Zuckerberg]
3                    [The King's Speech , King George VI]
4                              [127 Hours , Aron Ralston]
5                            [The Fighter , Dicky Eklund]
6                              [Winter's Bone , Teardrop]
7                             [The Town , James Coughlin]
8                         [The Kids Are All Right , Paul]
9                      [The King's Speech , Lionel Logue]
10                         [The Kids Are All Right , Nic]
11                                  [Rabbit Hole , Becca]
12                                  [Winter's Bone , Ree]
13              [Black Swan , Nina Sayers/The Swan Queen]
14                               [Blue Valentine , Cindy]
15                       [The Fighter , Charlene Fleming]
16                  [The King's Speech , Queen Elizabeth]
17                             [The Fighter , Alice Ward]
18                              [True Grit , Mattie Ross]
19                 [Animal Kingdom , Janine 'Smurf' Cody]
135                             [Crazy Heart , Bad Blake]
136                        [Up in the Air , Ryan Bingham]
137                               [A Single Man , George]
138                           [Invictus , Nelson Mandela]
139      [The Hurt Locker , Staff Sergeant William James]
140                         [Invictus , Francois Pienaar]
141                  [The Messenger , Captain Tony Stone]
142                          [The Last Station , Tolstoy]
143                    [The Lovely Bones , George Harvey]
144              [Inglourious Basterds , Col. Hans Landa]
                              ...
1040                                [Frida , Frida Kahlo]
1041                         [The Hours , Virginia Woolf]
1042                         [Unfaithful , Connie Sumner]
1043                   [Far from Heaven , Cathy Whitaker]
1044                               [Chicago , Roxie Hart]
1045                    [About Schmidt , Roberta Hertzel]
1046                            [The Hours , Laura Brown]
1047                       [Chicago , Matron Mama Morton]
1048                          [Adaptation , Susan Orlean]
1049                              [Chicago , Velma Kelly]
1157                       [A Beautiful Mind , John Nash]
1158                              [I Am Sam , Sam Dawson]
1159                                 [Ali , Muhammad Ali]
1160                              [Training Day , Alonzo]
1161                       [In the Bedroom , Matt Fowler]
1162                                 [Iris , John Bayley]
1163                                [Training Day , Jake]
1164                             [Sexy Beast , Don Logan]
1165    [The Lord of the Rings: The Fellowship of the ...
1166                                [Ali , Howard Cosell]
1167                  [Monster's Ball , Leticia Musgrove]
1168                                [Iris , Iris Murdoch]
1169                              [Moulin Rouge , Satine]
1170                       [In the Bedroom , Ruth Fowler]
1171              [Bridget Jones's Diary , Bridget Jones]
1172                     [A Beautiful Mind , Alicia Nash]
1173                         [Gosford Park , Mrs. Wilson]
1174     [Gosford Park , Constance, Countess of Trentham]
1175                    [In the Bedroom , Natalie Strout]
1176                          [Iris , Young Iris Murdoch]
Name: Additional Info, dtype: object

In [35]:
movie_names = additional_info_two.str[0]

In [36]:
characters = additional_info_two.str[1]

In [37]:
final_nominations["Movie"] = movie_names

In [38]:
final_nominations["Characters"] = characters

In [39]:
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: Additional Info, dtype: object

In [40]:
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: Additional Info, dtype: object

In [45]:
import sqlite3
conn = sqlite3.connect("nominations.db")
final_nominations.to_sql("nominations", conn, index = False)

/dataquest/system/env/python3/lib/python3.4/site-packages/pandas/core/generic.py:1165: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [48]:
import sqlite3
conn = sqlite3.connect("nominations.db")

In [55]:
query_1 = "pragma table_info(nominations);"
query_2 = "select * from nominations limit 10"
print(conn.execute(query_1).fetchall())
print(conn.execute(query_2).fetchall())
conn.close

[(0, 'Year', 'INTEGER', 0, None, 0), (1, 'Category', 'TEXT', 0, None, 0), (2, 'Nominee', 'TEXT', 0, None, 0), (3, 'Additional Info', 'TEXT', 0, None, 0), (4, 'Movie', 'TEXT', 0, None, 0), (5, 'Characters', 'TEXT', 0, None, 0)]
[(2010, 'Actor -- Leading Role', 'Javier Bardem', "Biutiful {'Uxbal'}", 'Biutiful ', 'Uxbal'), (2010, 'Actor -- Leading Role', 'Jeff Bridges', "True Grit {'Rooster Cogburn'}", 'True Grit ', 'Rooster Cogburn'), (2010, 'Actor -- Leading Role', 'Jesse Eisenberg', "The Social Network {'Mark Zuckerberg'}", 'The Social Network ', 'Mark Zuckerberg'), (2010, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech {'King George VI'}", "The King's Speech ", 'King George VI'), (2010, 'Actor -- Leading Role', 'James Franco', "127 Hours {'Aron Ralston'}", '127 Hours ', 'Aron Ralston'), (2010, 'Actor -- Supporting Role', 'Christian Bale', "The Fighter {'Dicky Eklund'}", 'The Fighter ', 'Dicky Eklund'), (2010, 'Actor -- Supporting Role', 'John Hawkes', "Winter's Bone {'Teardrop'}", "Winter's Bone ", 'Teardrop'), (2010, 'Actor -- Supporting Role', 'Jeremy Renner', "The Town {'James Coughlin'}", 'The Town ', 'James Coughlin'), (2010, 'Actor -- Supporting Role', 'Mark Ruffalo', "The Kids Are All Right {'Paul'}", 'The Kids Are All Right ', 'Paul'), (2010, 'Actor -- Supporting Role', 'Geoffrey Rush', "The King's Speech {'Lionel Logue'}", "The King's Speech ", 'Lionel Logue')]