# 1: Introduction

In [ ]:
england = 135
china = 123
india = 124
united_states = 134

# 2: Display Values Using The Print Function

In [2]:
china = 123
india = 124
united_states = 134
china = 123
india = 124
united_states = 134
print(china)
print(india)
print(united_states)

123
124
134

# 3: Data Types

In [3]:
china_name = "China"
china_rounded = 123
china_exact = 122.5

print(china_name)
print(china_rounded)
print(china_exact)

China
123
122.5

# 4: The Type Function

In [4]:
china_name = "China"
china_exact = 122.5
print(type(china_exact))

<class 'float'>

# 5: Converting Types

In [7]:
china_rounded = 123
int_to_str = str(china_rounded)
str_to_int = int(int_to_str)

In [8]:
str_to_int

123

In [9]:
int_to_str

'123'

# 6: Comments

In [11]:
china = 123
india = 124
united_states = 134
# Number one in population
china = 123
# Number two in population
india = 124
# Number three in population
united_states = 134

# 7: Arithmetic Operators

In [12]:
china_plus_10 = china + 10
us_times_100 = united_states * 100
print(china_plus_10)
print(us_times_100)

133
13400

# 8: Order Of Operations

In [14]:
china = 123
india = 124
united_states = 134
china_celsius = (china - 32) * 0.56
india_celsius = (india - 32) * 0.56
us_celsius = (united_states - 32) * 0.56
print(china_celsius)
print(india_celsius)
print(us_celsius)

50.96000000000001
51.52
57.120000000000005

# 9: Using A List To Store Multiple Values

In [15]:
countries = []
temperatures = []
countries.append("China")
countries.append("India")
countries.append("United States")

temperatures.append(122.5)
temperatures.append(124.0)
temperatures.append(134.1)

print(countries)
print(temperatures)

['China', 'India', 'United States']
[122.5, 124.0, 134.1]

# 10: Creating Lists With Values

In [17]:
temps = ["China", 122.5, "India", 124.0, "United States", 134.1]
print(temps)

['China', 122.5, 'India', 124.0, 'United States', 134.1]

# 11: Accessing Elements In A List

In [22]:
countries = []
temperatures = []

countries.append("China")
countries.append("India")
countries.append("United States")

temperatures.append(122.5)
temperatures.append(124.0)
temperatures.append(134.1)

countries = []
temperatures = []

countries.append("China")
countries.append("India")
countries.append("United States")

temperatures.append(122.5)
temperatures.append(124.0)
temperatures.append(134.1)

china = countries[0]
china_temperature = temperatures[0]
print(countries)
print(temperatures)

['China', 'India', 'United States']
[122.5, 124.0, 134.1]

# 12: Retrieving The Length Of A List

In [25]:
countries = ["China", "India", "United States", "Indonesia", "Brazil", "Pakistan"]
temperatures = [122.5, 124.0, 134.1, 103.1, 112.5, 128.3]
two_sum = len(countries) + len(temperatures)
print(two_sum)

12

# 13: Slicing Lists

In [30]:
countries = ["China", "India", "United States", "Indonesia", "Brazil", "Pakistan"]
temperatures = [122.5, 124.0, 134.1, 103.1, 112.5, 128.3]
countries_slice = countries[1:4]
temp_length = len(temperatures)
temperatures_slice = temperatures[len(temperatures)-3:len(temperatures)]
print(temperatures_slice)
print(temp_length)

[103.1, 112.5, 128.3]
6