#### Loading the data

In [76]:
import pandas as pd

data = pd.read_csv('guns.csv')
data.head()

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,4.0
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,3.0
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,4.0
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,4.0
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,2.0

In [77]:
data.describe()

,Unnamed: 0,year,month,police,age,hispanic,education
count,100798.000000,100798.000000,100798.000000,100798.000000,100780.000000,100798.000000,100745.000000
mean,50399.500000,2013.000357,6.567601,0.013909,43.857601,114.179607,2.296352
std,29098.020554,0.816278,3.405609,0.117114,19.496181,61.595734,0.990105
min,1.000000,2012.000000,1.000000,0.000000,0.000000,100.000000,1.000000
25%,25200.250000,2012.000000,4.000000,0.000000,27.000000,100.000000,2.000000
50%,50399.500000,2013.000000,7.000000,0.000000,42.000000,100.000000,2.000000
75%,75598.750000,2014.000000,9.000000,0.000000,58.000000,100.000000,3.000000
max,100798.000000,2014.000000,12.000000,1.000000,107.000000,998.000000,5.000000

In [78]:
import csv
with open('guns.csv','r') as f:
    data = list(csv.reader(f))
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

#### Displaying the header

In [79]:
headers = data[0]
print(headers)

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']

#### Stripping the header

In [80]:
data = data[1:]
print(data[0:4])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

#### Counting the number of gun deaths in respective years (2012-2014)

In [81]:
year_counts = {}
for row in data:
    year = row[1]
    if year in year_counts:
        year_counts[year] += 1
    else:
        year_counts[year] = 1
print(year_counts)

{'2012': 33563, '2013': 33636, '2014': 33599}

#### counting gun deaths in different months

In [82]:
import datetime
dates = [datetime.datetime(year = int(row[1]), month = int(row[2]), day = 1) for row in data]
dates[:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [83]:
date_count = {}

for row in dates:
    if row in date_count:
        date_count[row] += 1
    else: 
        date_count[row] = 1
print(date_count)

{datetime.datetime(2012, 1, 1, 0, 0): 2758, datetime.datetime(2012, 2, 1, 0, 0): 2357, datetime.datetime(2012, 3, 1, 0, 0): 2743, datetime.datetime(2012, 4, 1, 0, 0): 2795, datetime.datetime(2012, 5, 1, 0, 0): 2999, datetime.datetime(2012, 6, 1, 0, 0): 2826, datetime.datetime(2012, 7, 1, 0, 0): 3026, datetime.datetime(2012, 8, 1, 0, 0): 2954, datetime.datetime(2012, 9, 1, 0, 0): 2852, datetime.datetime(2012, 10, 1, 0, 0): 2733, datetime.datetime(2012, 11, 1, 0, 0): 2729, datetime.datetime(2012, 12, 1, 0, 0): 2791, datetime.datetime(2013, 1, 1, 0, 0): 2864, datetime.datetime(2013, 2, 1, 0, 0): 2375, datetime.datetime(2013, 3, 1, 0, 0): 2862, datetime.datetime(2013, 4, 1, 0, 0): 2798, datetime.datetime(2013, 5, 1, 0, 0): 2806, datetime.datetime(2013, 6, 1, 0, 0): 2920, datetime.datetime(2013, 7, 1, 0, 0): 3079, datetime.datetime(2013, 8, 1, 0, 0): 2859, datetime.datetime(2013, 9, 1, 0, 0): 2742, datetime.datetime(2013, 10, 1, 0, 0): 2808, datetime.datetime(2013, 11, 1, 0, 0): 2758, datetime.datetime(2013, 12, 1, 0, 0): 2765, datetime.datetime(2014, 1, 1, 0, 0): 2651, datetime.datetime(2014, 2, 1, 0, 0): 2361, datetime.datetime(2014, 3, 1, 0, 0): 2684, datetime.datetime(2014, 4, 1, 0, 0): 2862, datetime.datetime(2014, 5, 1, 0, 0): 2864, datetime.datetime(2014, 6, 1, 0, 0): 2931, datetime.datetime(2014, 7, 1, 0, 0): 2884, datetime.datetime(2014, 8, 1, 0, 0): 2970, datetime.datetime(2014, 9, 1, 0, 0): 2914, datetime.datetime(2014, 10, 1, 0, 0): 2865, datetime.datetime(2014, 11, 1, 0, 0): 2756, datetime.datetime(2014, 12, 1, 0, 0): 2857}

In [84]:
items = [(v, k) for k, v in date_count.items()]
items.sort()
items.reverse()
print(items)

[(3079, datetime.datetime(2013, 7, 1, 0, 0)), (3026, datetime.datetime(2012, 7, 1, 0, 0)), (2999, datetime.datetime(2012, 5, 1, 0, 0)), (2970, datetime.datetime(2014, 8, 1, 0, 0)), (2954, datetime.datetime(2012, 8, 1, 0, 0)), (2931, datetime.datetime(2014, 6, 1, 0, 0)), (2920, datetime.datetime(2013, 6, 1, 0, 0)), (2914, datetime.datetime(2014, 9, 1, 0, 0)), (2884, datetime.datetime(2014, 7, 1, 0, 0)), (2865, datetime.datetime(2014, 10, 1, 0, 0)), (2864, datetime.datetime(2014, 5, 1, 0, 0)), (2864, datetime.datetime(2013, 1, 1, 0, 0)), (2862, datetime.datetime(2014, 4, 1, 0, 0)), (2862, datetime.datetime(2013, 3, 1, 0, 0)), (2859, datetime.datetime(2013, 8, 1, 0, 0)), (2857, datetime.datetime(2014, 12, 1, 0, 0)), (2852, datetime.datetime(2012, 9, 1, 0, 0)), (2826, datetime.datetime(2012, 6, 1, 0, 0)), (2808, datetime.datetime(2013, 10, 1, 0, 0)), (2806, datetime.datetime(2013, 5, 1, 0, 0)), (2798, datetime.datetime(2013, 4, 1, 0, 0)), (2795, datetime.datetime(2012, 4, 1, 0, 0)), (2791, datetime.datetime(2012, 12, 1, 0, 0)), (2765, datetime.datetime(2013, 12, 1, 0, 0)), (2758, datetime.datetime(2013, 11, 1, 0, 0)), (2758, datetime.datetime(2012, 1, 1, 0, 0)), (2756, datetime.datetime(2014, 11, 1, 0, 0)), (2743, datetime.datetime(2012, 3, 1, 0, 0)), (2742, datetime.datetime(2013, 9, 1, 0, 0)), (2733, datetime.datetime(2012, 10, 1, 0, 0)), (2729, datetime.datetime(2012, 11, 1, 0, 0)), (2684, datetime.datetime(2014, 3, 1, 0, 0)), (2651, datetime.datetime(2014, 1, 1, 0, 0)), (2375, datetime.datetime(2013, 2, 1, 0, 0)), (2361, datetime.datetime(2014, 2, 1, 0, 0)), (2357, datetime.datetime(2012, 2, 1, 0, 0))]

The summer months have the greatest value counts, this is likely to be due to increased socal interaction as
temperatures rise, leading to a higher homicide rate. The Wall Street Journal found that July was the deadliest month in terms of homicides in New York City between 2002 and 2009, it's not necessarily because warmer temperatures bring out more aggression leading to more assaults. As James Alan Fox, a professor of criminology at Northeastern University points out, it's more likely that there are more people out and about, which means there are more potential victims outside.

#### Counting gun deaths by sex, race, age and intent

#### Gender

In [85]:
sex_count = {}

for row in data:
    sex = row[5]
    if sex in sex_count:
        sex_count[sex] += 1
    else:
        sex_count[sex] = 1
print(sex_count)

{'M': 86349, 'F': 14449}

#### Finding the proportion of male and female victims

In [86]:
total_deaths = sum(sex_count.values())
print(total_deaths)

100798

In [87]:
male_proportion = (86343 / 100791) * 100
round(male_proportion, 3)

85.665

In [88]:
female_proportion = (14448 / 100791) * 100
round(female_proportion, 3)

14.335

Males consist of approximately 85%, and females 15% of total gun deaths in the years 2012-2014.

#### Race

In [89]:
race_count = {}

for row in data:
    race = row[7]
    if race in race_count:
        race_count[race] += 1
    else:
        race_count[race] = 1
print(race_count)

{'Asian/Pacific Islander': 1326, 'White': 66237, 'Native American/Native Alaskan': 917, 'Black': 23296, 'Hispanic': 9022}

#### Age

In [90]:
age_count = {}

for row in data:
    age = row[6]
    if age in age_count:
        age_count[age] += 1
    else:
        age_count[age] = 1
print(age_count)

{'34': 1699, '21': 2504, '60': 1361, '64': 1126, '31': 1833, '17': 1185, '48': 1621, '41': 1485, '50': 1674, 'NA': 18, '30': 1869, '43': 1527, '27': 2070, '55': 1596, '53': 1708, '51': 1755, '65': 1039, '52': 1715, '47': 1532, '19': 2065, '22': 2712, '56': 1625, '38': 1491, '25': 2230, '26': 2231, '23': 2472, '87': 312, '28': 1986, '39': 1389, '59': 1430, '61': 1306, '12': 117, '40': 1414, '57': 1472, '20': 2219, '62': 1099, '71': 791, '44': 1449, '29': 1955, '24': 2437, '9': 47, '77': 575, '18': 1753, '36': 1512, '49': 1669, '13': 229, '33': 1700, '90': 208, '63': 1041, '46': 1437, '32': 1824, '84': 490, '68': 868, '89': 245, '58': 1510, '78': 598, '66': 998, '81': 563, '54': 1684, '45': 1372, '37': 1500, '35': 1631, '42': 1492, '67': 865, '69': 879, '72': 736, '82': 520, '75': 676, '73': 737, '15': 561, '83': 552, '74': 671, '86': 407, '16': 864, '88': 340, '3': 66, '80': 546, '5': 43, '79': 573, '91': 176, '4': 54, '76': 582, '14': 364, '95': 55, '96': 40, '70': 883, '7': 43, '85': 440, '0': 33, '1': 38, '93': 103, '92': 128, '97': 20, '2': 50, '94': 64, '11': 61, '8': 32, '6': 50, '99': 6, '10': 53, '98': 16, '102': 2, '107': 1, '100': 1, '101': 2}

#### Sorting the dictionary to find the greatest values for age

In [91]:
items = [(v, k) for k, v in age_count.items()]
items.sort()
items.reverse()
print(items)

[(2712, '22'), (2504, '21'), (2472, '23'), (2437, '24'), (2231, '26'), (2230, '25'), (2219, '20'), (2070, '27'), (2065, '19'), (1986, '28'), (1955, '29'), (1869, '30'), (1833, '31'), (1824, '32'), (1755, '51'), (1753, '18'), (1715, '52'), (1708, '53'), (1700, '33'), (1699, '34'), (1684, '54'), (1674, '50'), (1669, '49'), (1631, '35'), (1625, '56'), (1621, '48'), (1596, '55'), (1532, '47'), (1527, '43'), (1512, '36'), (1510, '58'), (1500, '37'), (1492, '42'), (1491, '38'), (1485, '41'), (1472, '57'), (1449, '44'), (1437, '46'), (1430, '59'), (1414, '40'), (1389, '39'), (1372, '45'), (1361, '60'), (1306, '61'), (1185, '17'), (1126, '64'), (1099, '62'), (1041, '63'), (1039, '65'), (998, '66'), (883, '70'), (879, '69'), (868, '68'), (865, '67'), (864, '16'), (791, '71'), (737, '73'), (736, '72'), (676, '75'), (671, '74'), (598, '78'), (582, '76'), (575, '77'), (573, '79'), (563, '81'), (561, '15'), (552, '83'), (546, '80'), (520, '82'), (490, '84'), (440, '85'), (407, '86'), (364, '14'), (340, '88'), (312, '87'), (245, '89'), (229, '13'), (208, '90'), (176, '91'), (128, '92'), (117, '12'), (103, '93'), (66, '3'), (64, '94'), (61, '11'), (55, '95'), (54, '4'), (53, '10'), (50, '6'), (50, '2'), (47, '9'), (43, '7'), (43, '5'), (40, '96'), (38, '1'), (33, '0'), (32, '8'), (20, '97'), (18, 'NA'), (16, '98'), (6, '99'), (2, '102'), (2, '101'), (1, '107'), (1, '100')]

#### Intent

In [92]:
intent_count = {}

for row in data:
    intent = row[3]
    if intent in intent_count:
        intent_count[intent] += 1
    else:
        intent_count[intent] = 1
print(intent_count)

{'Suicide': 63175, 'Undetermined': 807, 'Accidental': 1639, 'Homicide': 35176, 'NA': 1}

#### Loading a second dataset

In [93]:
with open('census.csv', 'r') as f:
    census = list(csv.reader(f))
census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

#### Calculating rates of gun deaths per 100000 for different races

In [94]:
mapping = {'Asian/Pacific Islander': 15834141, 'White': 197318956, 'Native American/Native Alaskan': 3739506, 'Black': 40250635, 'Hispanic': 44618105}
mapping

{'Asian/Pacific Islander': 15834141,
 'Black': 40250635,
 'Hispanic': 44618105,
 'Native American/Native Alaskan': 3739506,
 'White': 197318956}

In [105]:
race_of_deceased = {k: race_count[k]/mapping[k] for k in race_count.keys() & mapping}
race_of_deceased

{'Asian/Pacific Islander': 8.374309664161763e-05,
 'Black': 0.000578773477735196,
 'Hispanic': 0.00020220491210910907,
 'Native American/Native Alaskan': 0.0002452195557381109,
 'White': 0.0003356849303419181}

In [106]:
for key in race_of_deceased:
    race_of_deceased[key] = race_of_deceased[key] * 100000
race_of_deceased

{'Asian/Pacific Islander': 8.374309664161762,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907,
 'Native American/Native Alaskan': 24.521955573811088,
 'White': 33.56849303419181}

#### Filtering by intent (Homicide)

In [119]:
intents = []
races = []

for row in data:
    intent = row[3]
    race = row[7]
    intents.append(intent)
    races.append(race)
print(intents[:1])
print(races[:1])

['Suicide']
['Asian/Pacific Islander']

In [153]:
homicide_race_counts = {}

for i, race in enumerate(races):
    if race not in homicide_race_counts:
        homicide_race_counts[race] = 0
    if intents[i] == "Homicide":
        homicide_race_counts[race] += 1
print(homicide_race_counts)

race_per_hundredk = {}
for k, v in homicide_race_counts.items():
    race_per_hundredk[k] = (v / mapping[k]) * 100000
    
race_per_hundredk

{'Asian/Pacific Islander': 559, 'White': 9147, 'Native American/Native Alaskan': 326, 'Black': 19510, 'Hispanic': 5634}

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}

#### Filtering by intent (Suicide)

In [155]:
suicide_race_counts = {}

for i, suicide in enumerate(races):
    if suicide not in suicide_race_counts:
        suicide_race_counts[suicide] = 0
    if intents[i] == "Suicide":
        suicide_race_counts[suicide] += 1
print(suicide_race_counts)

for k, v in suicide_race_counts.items():
    race_per_hundredk[k] = (v / mapping[k]) * 100000
print(race_per_hundredk)

{'Asian/Pacific Islander': 745, 'White': 55372, 'Native American/Native Alaskan': 555, 'Black': 3332, 'Hispanic': 3171}
{'Asian/Pacific Islander': 4.705023152187416, 'White': 28.06217969245692, 'Native American/Native Alaskan': 14.841532544673013, 'Black': 8.278130270491385, 'Hispanic': 7.106980451097149}